$primary-color: #D9514EFF;
$secondary-color: #2A2B2DFF;
$font-stack: Oswald, sans-serif;

body {
    background: url('http://clipart-library.com/img/759208.jpg');
    background-size: cover;
}   
div.card-body {
    text-transform: capitalize;
}

div.card-title {
    font-family: $font-stack;
    text-align: center;
}

.favoriteButton {
    float: right;
}
