$primary-color: #D9514EFF;
$secondary-color: #2A2B2DFF;
$font-stack: Oswald, sans-serif;


body {
    background: url('../../../src/Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
     height: 100%;
      }

.loginContainer {
    background-color: $primary-color;
    border-radius: 25px;
    color: $secondary-color;
    margin-top: 20px;
}

h1 {
    font-family: $font-stack;
    text-align: center;
    text-shadow: 1px 2px #c5aaaa;
}


