$primary-color: #D9514EFF;
$secondary-color: #2A2B2DFF;
$font-stack: Oswald, sans-serif;

body {
    background: url('../../../src/Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
     height: 100%;
      }

.logoutButton {
    float: right;
}
