$primary-color: #D9514EFF;
$secondary-color: #2A2B2DFF;
$font-stack: Oswald, sans-serif;


body {
    background: url('http://clipart-library.com/img/759208.jpg');
    background-size: cover;
}   

.registrationContainer {
    background-color: $primary-color;
    border-radius: 25px;
    color: $secondary-color;
    margin-top: 20px;
    }
