$primary-color: #D9514EFF;
$secondary-color: #2A2B2DFF;
$font-stack: Oswald, sans-serif;

body {
    background: url('http://clipart-library.com/img/759208.jpg') no-repeat fixed 50%;
}   

.logoutButton {
    float: right;
}
